@import './vars'

*
  margin 0
  padding 0
  box-sizing border-box

html, body
  height 100%

body
  background #eee

.app-container
  width 840px
  margin 0 auto;
  height 100%
  display flex
  justify-content space-between
  @media screen and (max-width: 860px)
    width 100%
  & > div
    width 100%

.main-color
  color $main-red 

/***********************************/
/*             Header              */
/***********************************/
.app-header
  height 70px
  background #fff
  box-shadow 0 3px 3px 2px rgba(0, 0, 0, .1);
  &__title
    font normal 24px 'Hind'
    height 100%
    color $main-dark
    display flex
    align-items center
    @media screen and (max-width: 860px)
      margin 0 15px
  &__search
    display flex
    align-items center
    justify-content center
    position relative
    input
      font 300 14px 'Hind'
      color #7d7d7d
      padding 2px 5px
      border none
      border-bottom 2px solid #aaa
      outline none
      width 300px
      padding-left 25px
      @media screen and (max-width: 600px)
        width 100px
      &:focus
        border-bottom-color lighten($main-red, 20%)
    i
      position absolute
      top 50%
      transform translateY( -50%)
      left 0
      font-size 20px
      color #aaa
    @media screen and (max-width: 840px)
      margin 0 15px


/***********************************/
/*            Content              */
/***********************************/
.app-content
  padding 50px 0

.news-list
  width 100%
  display flex
  justify-content center
  align-items center
  flex-direction column
  &__title
    font normal 15px 'Baloo' 
    color $main-dark
    margin 10px 0
    @media screen and (max-width: 600px)
      margin 10px 15px
  span
    display flex
    align-items center
    justify-content center
    flex-direction column
.news-item
  width 95%
  flex-shrink 1
  padding 10px 15px
  background #fff
  margin 5px 0
  box-shadow 0 0 5px 1px rgba(0, 0, 0, .1); 
  &__header
    display flex
    align-items center
    justify-content space-between
    i
      font-size 17px
      color #aaa
      cursor pointer
      transition color .1s
      &:hover
        color #3d3d3d
        
  &__title
    font normal 16px 'Baloo'
    color $main-dark
  &__content
    font normal 14px 'Hind'
    color $main-dark

/***********************************/
/*            Content              */
/***********************************/
.news-pagination
  width 90%
  margin 40px auto
  display flex
  align-items center
  &__list
    display flex
    align-items center
    justify-content center
    width 100%
  &__page,
  &__arrow
    list-style none
    height 40px
    width @height
    display flex
    align-items center
    justify-content center
    font normal 15px 'Hind'
    color $main-dark
    border-radius 3px
    cursor pointer
    margin 0 3px
    transition background .1s
    position relative
    &--active
      background $main-red
      color #fff
      &:hover
        background darken($main-red, 5%) !important
    &:hover
      background #ccc
      color #fff
  &__first--ellipsis,
  &__last--ellipsis
    margin-right 20px
    &:hover:after
      color $main-dark
    &:after
      pointer-events none
      content '...'
      width 50%
      position absolute
      top 0; bottom 0
      right -50%
      display flex
      justify-content center
      align-items center
      letter-spacing 2px
      margin auto
  &__last--ellipsis
    margin-right 0
    margin-left 20px
    &:after
      left -50%
      right auto

  &__arrow
    background #fff
    box-shadow 0 0 5px 1px rgba(0, 0, 0, .1); 
    width 55px
    &:hover
      background #fff !important
      i
        color $main-red
  &__mobile
    align-self stretch
    flex-grow 1
    padding 0 20px
    background #fff
    font normal 15px 'Baloo'
    display flex
    align-items center
    justify-content center
    color $main-dark
    text-transform uppercase
    box-shadow 0 0 5px 1px rgba(0, 0, 0, .1); 

/***********************************/
/*       notification popup        */
/***********************************/
.notif-popup
  padding 30px 25px
  font normal 20px 'Baloo'
  color $main-dark
  border-radius 4px
  box-shadow 1px 1px 15px 2px rgba(0, 0, 0, .2);
  position absolute
  top 30px
  right 30px
  border 2px solid $main-dark
  background #fff
  z-index 1
  display flex
  align-items center
  justify-content center
  position fixed
  &__status
    text-transform uppercase
    margin 0 10px
  &__message
    font normal 11px 'Hind'
    margin 0 10px
  &__btn
    outline none
    border none
    background #fff
    position absolute
    bottom 15px
    right 30px
    cursor pointer
    color inherit
  i
    font-size 25px
  &--success
    border-color $success
    color $success
  &--error
    border-color $error
    color $error
  @media screen and (max-width: 600px)
    width 100%
    left 0; right 0; top 0
    border-radius 0
    border-top none
    border-left @border-top
    border-right @border-top

/***********************************/
/*         transitions             */
/***********************************/
.news-leave
  opacity 1
  transform scale(1)
.news-leave-active
  opacity 0
  transform scale(0.2)
  transition all .5s cubic-bezier(.87,-.41,.19,1.44)


